:root {
    --main: #9d906f;
    --secondary: #bfb394;
    --third: #efe7d4;
    --fontColor: #635335;
    --font: 'Caveat Brush';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    color: var(--fontColor);
}

title {
    color: var(--fontColor);
    background-color: var(--third);
}

body {
    height: 100vh;
    background-color: var(--third);
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.top {
    padding: 1rem;
}

nav {
    padding: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0;
    padding-left: 0;
    display: flex;
    background-color: var(--third);
}

nav a{
    padding: 0.5rem 2rem;
    padding-bottom: 0;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: var(--fontColor);
    background-color: var(--secondary);
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.3s ease;
}

nav a:hover {
    background-color: var(--main);
}

header {
    flex: 1;
    display: flex;
    min-height: 0;
    padding: 1rem;
    border-radius: 1rem;
    border-top-left-radius: 0;
    text-align: left;
    background-color: var(--secondary);
    transition: color 0.3s ease;
}  

header.highlight {
    background-color: var(--main);
}

p {
    padding-top: 1rem;
    font-size: 1.5rem;
    flex: 3.5;
    flex-direction: column;
    text-align: left;
}

.container {
    padding: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    flex: 1;
    display: flex;
    min-height: 0;
}

.sidebar {
    width: 25%;
    padding: 1rem;
    border-radius: 1rem;
    text-align: left;
    background-color: var(--main);
    overflow-y: auto;
    height: 65%;
    max-height: 100vh;
}

h1 {
    font-size: 3rem;
    text-shadow: 1px 1px 2px #ffffff, 2px 2px 2px #ffffff, -2px -2px 2px #ffffff;
    flex: 1;
    flex-direction: column;
}

h2 {
    font-size: 2rem;
}

h3 {
    padding-left: 1rem;
    font-size: 1.5rem;
}

main {
    flex: 1;
    padding: 1rem;
    flex-direction: column;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--main);
}